.display {
   width: 380px;
   height: 170px;
   background-color: deepskyblue;
   /*background-color: white;*/
   border-radius: 5px;
   margin: 10px;
}

.mainWindow {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.settings {
   display: grid;
   grid-template-rows: 85px 85px;
}

.field {
   /*border: 1px solid red;*/
   display: grid;
   grid-template-columns: 190px 190px;
}
.label {
   padding-left: 15px;
   padding-top: 12px;
   font-size: 27px;
   font-weight: bolder;
   color: #282c34;
}
.fieldItem {
   /*border: 1px solid red;*/
   background: white;
   width: 140px;
   height: 40px;
   margin-top: 10px;
   border-radius: 3px;
}

.fieldFirst {
   padding-top: 20px;
}

.fieldSecond {
   padding-top: 10px;
}

.input {
   color: #282c34;
   padding: 11px;
   border: 2px solid #282c34;
   border-radius: 3px;
   text-align: center;
   font-weight: bolder;
   width: 116px;
   outline-style: none;
   background-color: white;
}

.total {
   font-size: 110px;
   font-weight: bolder;
}

.message {
   font-size: 25px;
   font-weight: bolder;
}

.errorMessage {
   font-size: 25px;
   font-weight: bolder;
   color: red;
}

.error {
   background: rgba(255, 0, 0, 0.2);
   border: 2px solid red;
   /*background: rgba(255, 0, 0, 0.5);*/
   /*background: transparent;*/
   /*opacity: 0.9;*/
}

.red {
   color: darkred;
}